.hero {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 50px;
    flex-wrap: wrap;
    padding: 20px 100px;
    
   
}

.hero .container {
    flex-wrap: wrap;
    height: 300px;
    width: 100px;
    margin-bottom: 0px;
    flex:1;
    
}

.hero h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: extra-bold;
    margin-bottom: 0px;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0px;
    margin-bottom: 10px;
}

.hero button {
    border-radius: 5px;
    border: none;
    padding: 5px 25px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
}

.hero .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow:0;
    flex-shrink:1;
    flex-basis: auto;
    background-color: rgba(229, 231, 235, 40%);
    color: white;
    padding: 100px 90px;
    
}




